*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 80px;
  --piece-size: calc(var(--cell-size) * 0.7);
}

body {
  margin: 0;
  background-color: rgb(73, 73, 73);
  font-family: "Courier New", Courier, monospace;
}

.boardRow {
  display: flex;
}

.board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.piece {
  height: var(--piece-size);
  width: var(--piece-size);
  border-radius: 50%;
  box-shadow: 0px 0px 10px 1px gray;
  visibility: hidden;
}

.piece-black {
  background-color: rgb(99, 99, 99);
  cursor: pointer;
  visibility: visible;
}

.piece-white {
  background-color: rgb(159, 159, 159);

  cursor: pointer;
  visibility: visible;
}

.white {
  background-color: rgb(99, 99, 99);
}

.selected {
  background-color: rgb(144, 82, 82);
}

.black {
  background-color: rgb(144, 144, 144);
}

.grey {
  background-color: grey;
}

.kuday-mode {
  background-color: red;
  color: white;
}

button {
  background-color: gray;
  padding: 10px 5px;
  margin: 10px;
  min-width: 200px;
  border: none;
  cursor: pointer;
}
